registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

shamefully-hoist=true
public-hoist-pattern[]=*electron*
public-hoist-pattern[]=*better-sqlite3*
public-hoist-pattern[]=*node-pty*

verify-store-integrity=false

